# Carpetas de IDEs y OS
.vscode/
.idea/
*.swp
.DS_Store
*.bak

# Excepciones: siempre trackear fuentes y scripts
!**/*.cpp
!**/*.hpp
!**/*.fcpp
!**/*.sh
!LICENSE.txt
!**/src/**
!**/tests/**
!pkg/
!pkg/**
!tools/
!tools/**
