# Carpetas de IDEs y OS
.vscode/
.idea/
*.swp
.DS_Store
*.bak

# Excepciones: siempre trackear fuentes y scripts
!**/*.nim
!**/*.fcpp
!**/*.sh
!LICENSE.txt
!**/src/**
!**/tests/**
!pkg/
!tools/
!tools/ifc/
